
@model IEnumerable<WebApp06.Models.Test.Question>

<div class="row">

	<div class="col-md-4">
		<label>Level1</label>
		<select name="level1">

			@for (int i = 1; i <= ViewBag.Level1; i++)
			{
				<option value="@i">@i</option>
			}
		</select>
	</div>

	<div class="col-md-4">
		<label>Level2</label>
		<select name="level2">
			@for (int i = 1; i <= ViewBag.Level2; i++)
			{
				<option value="@i">@i</option>
			}
		</select>
	</div>

	<div class="col-md-4">
		<label>Level3</label>
		<select name="level3">
			@for (int i = 1; i <= ViewBag.Level3; i++)
			{
				<option value="@i">@i</option>
			}
		</select>
	</div>



</div>


@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


