@model List<WebApp06.Models.Test.Question>

@{
    ViewData["Title"] = "Details";
    int x = 0;
    
}
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <table class="table table-bordered">
                <thead class="bg-success">
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Grade</th>
                        <th>Group</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@ViewBag.Name</td>
                        <td>@ViewBag.Date</td>
                        <td>@ViewBag.Grade</td>
                        <td>@ViewBag.Group</td>
                    </tr>
                </tbody>
            </table>
        </div>
   
    </div>

    <div class="row">
        <div class="col-sm-6">
            <table class="table table-bordered table-hover">
                <thead class="bg-info">
                    <tr>
                        <th style="width:10%;" class="text-center">#</th>
                        <th>
                            Questions
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@(++x)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Context)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Student first name</th>
                        <th>Student last name</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.TestResults)
                    {
                    <tr>
                        <td>
                            @item.ApplicationUser.FirstName
                        </td>
                        <td>
                            @item.ApplicationUser.LastName
                        </td>
                        <td>@item.Result</td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

