@model IEnumerable<WebApp06.Models.Test.SavedTest>

<link rel="stylesheet" href="~/css/GetSavedTests.css" />
@{
    ViewData["Title"] = "Saved Tests";
}

<h1 class="text-center text-white">Saved Tests</h1>
<h6 class="text-center text-danger">@ViewBag.Message</h6>

<div class="row d-flex align-content-around">
    @foreach (var item in Model)
    {
        <div class="card bg-transparent">
            <div class="card-header border-dark bg-secondary text-light">
                <h5 class="text-center"> @item.Name</h5>
               
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item border-0">
                        <span class="text-success">Questions : </span>
                        @for (int i = 0; i < item.Questions.Split('|').Length; i++)
                        {
                            <span>@item.Questions.Split('|')[i]</span>
                        }
                    </li>
                    <li class="list-group-item border-0">
                        <span class="text-warning">Date : </span>
                        <span>@item.Date.ToShortDateString()</span>
                    </li>
                    <li class="list-group-item border-0">
                        <span class="text-danger">Grade : </span>
                        <span>@item.Grade</span>
                    </li>
                    <li class="list-group-item border-0">
                        <span class="text-info">Group : </span>
                        <span>@item.Group</span>
                    </li>
                </ul>
            </div>
            <div class="card-footer d-flex justify-content-around">
                <a asp-action="Details" class="btn btn-sm btn-info" asp-route-id="@item.Id" asp-route-name="@item.Name" asp-route-date="@item.Date" asp-route-grade="@item.Grade" asp-route-group="@item.Group">Details</a>
                <a href="" class="btn btn-sm btn-danger" data-toggle="modal" onclick="deleteTest(@item.Id, '@item.Name')">Delete</a>
            </div>
        </div>
    }
</div>



   

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <form asp-action="DeleteTest">
                    <input type="hidden" name="id" id="testId" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Delete" id="link" class="btn btn-primary">
                </form>

            </div>
        </div>
    </div>
</div>

<script>
    function deleteTest(id, name) {

        $("#exampleModalLabel").html("Delete " + name + " ?");
        $('#exampleModal').modal('show');
        $("#testId").attr("value", id);


    }
</script>
