@model IEnumerable<WebApp06.Models.Test.SavedTest>

<div class="row">
    <div class="col-sm-7">
        <div class="row justify-content-center">
            <h2>
                Tests
            </h2>
        </div>
        <div class="row d-flex align-content-around flex-wrap">
            @foreach (var item in Model)
            {
                <div class="col-sm-3 card border-success" style="margin:10px;">
                    <div class="card-header text-success border-success">
                        @item.Name
                    </div>
                    <div class="card-body">
                        <p>Subject : @item.Subject.Name</p>
                        <p>Grade : @item.Grade</p>
                        <p>Group : @item.Group</p>
                        <p>Date : @item.Date.ToShortDateString()</p>
                    </div>
                    <div class="card-footer border-success">
                        <a asp-action="ShowTest" class="btn btn-sm btn-success" asp-route-id="@item.Id">Run test</a>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="col-sm-5" id="results">

    </div>
</div>

<script>
    $(document).ready(function () {
       $.get("/Student/_GetTestResults", function (data) {
            $("#results").html(data);
       })
        
        
     });
</script>



