@model IEnumerable<WebApp06.Models.Test.Question>

@{
    ViewData["Title"] = "ShowTest";
    Random random = new Random();
   

}

<h2>ShowTest</h2>

<form asp-action="SubmitTest">
    @foreach (var item in Model)
    {
     
     var rnd = random.Next(1, 5);
    <div class="card">

        <div class="card-header">
            @item.Context
        </div>
        @if (rnd == 1)
        {
    <div class="card-body">
        <input type="radio" name="@item.Id" value="@item.CorrectAnswer" />
        <label>@item.CorrectAnswer</label><br />
        <input type="radio" name="@item.Id" value="@item.WrongAnswer1" />
        <label>@item.WrongAnswer1</label><br />
        @if (@item.WrongAnswer2 != null)
        {
            <input type="radio" name="@item.Id" value="@item.WrongAnswer2" />
            <label>@item.WrongAnswer2</label><br />
        }
        @if (@item.WrongAnswer3 != null)
        {
            <input type="radio" name="@item.Id" value="@item.WrongAnswer3" />
            <label>@item.WrongAnswer3</label><br />
        }

    </div>
        }
        @if (rnd == 2)
        {
    <div class="card-body">

        <input type="radio" name="@item.Id" value="@item.WrongAnswer1" />
        <label>@item.WrongAnswer1</label><br />
        <input type="radio" name="@item.Id" value="@item.CorrectAnswer" />
        <label>@item.CorrectAnswer</label><br />
        @if (@item.WrongAnswer2 != null)
        {
            <input type="radio" name="@item.Id" value="@item.WrongAnswer2" />
            <label>@item.WrongAnswer2</label><br />
        }
        @if (@item.WrongAnswer3 != null)
        {
            <input type="radio" name="@item.Id" value="@item.WrongAnswer3" />
            <label>@item.WrongAnswer3</label><br />
        }

    </div>
        }
        @if (rnd == 3)
        {
    <div class="card-body">

        <input type="radio" name="@item.Id" value="@item.WrongAnswer1" />
        <label>@item.WrongAnswer1</label><br />
        @if (@item.WrongAnswer2 != null)
        {
            <input type="radio" name="@item.Id" value="@item.WrongAnswer2" />
            <label>@item.WrongAnswer2</label><br />
        }

        <input type="radio" name="@item.Id" value="@item.CorrectAnswer" />
        <label>@item.CorrectAnswer</label><br />
        @if (@item.WrongAnswer3 != null)
        {
            <input type="radio" name="@item.Id" value="@item.WrongAnswer3" />
            <label>@item.WrongAnswer3</label><br />
        }

    </div>
        }
        @if (rnd == 4)
        {
    <div class="card-body">

        <input type="radio" name="@item.Id" value="@item.WrongAnswer1" />
        <label>@item.WrongAnswer1</label><br />
        @if (@item.WrongAnswer2 != null)
        {
            <input type="radio" name="@item.Id" value="@item.WrongAnswer2" />
            <label>@item.WrongAnswer2</label><br />
        }
        @if (@item.WrongAnswer3 != null)
        {
            <input type="radio" name="@item.Id" value="@item.WrongAnswer3" />
            <label>@item.WrongAnswer3</label><br />
        }

        <input type="radio" name="@item.Id" value="@item.CorrectAnswer" />
        <label>@item.CorrectAnswer</label><br />
    </div>
        }

    </div>

    }
    <input type="submit" value="Submit">
</form>

 
