@model List<WebApp06.Models.UserRoleViewModel>
@{
	ViewData["Title"] = "Role";
}
<link rel="stylesheet" href="~/css/roleIndex.css" />


<div class="row text-danger" id="message">
	@ViewBag.Message
</div>

<div class="row">
	<div class="col-sm-6">

		<div class="row">
			
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" href="/Role/Index">Users</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="getRolesBtn" href="#">Roles</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="getSubjectsBtn" href="#">Subjects</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="getProfsBtn" href="#">Professors</a>
				</li>


			</ul>
			</div>
	
        <div class="row" >
            <div class="col-sm-9 bg-white" id="partialDiv1">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table">
                            <tr>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>User</th>
                                <th>Role</th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.ApplicationUser.FirstName</td>
                                <td>@item.ApplicationUser.LastName</td>
                                <td>@item.ApplicationUser.UserName</td>
                                <td>
                                    @foreach (var x in item.Roles)
                                    {
                                        <span>@x.Name</span>
                                    }
                                </td>
                                <td>
                                    <a asp-action="DeleteRole" asp-route-id="">Delete user</a>
                                </td>
                            </tr>
                            }
                        </table>
                    </div>

                </div>
            </div>
           
           
        </div>
		
		</div>

		<div class="col-sm-6">
			<div class="row">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link" id="CreateRoleBtn" href="#">New role</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="addSubjectBtn" href="#">New subject</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" id="AddUserInRoleBtn" href="#">Add user in role</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="AddSubToProfBtn" href="#">Add subject to professor</a>
					</li>



				</ul>
			</div>
			<div class="row">
				<div class="col-sm-10 bg-white" id="partialDiv2">

				</div>
			</div>


		</div>


	</div>




	



<script>
    $("a").on("click", function () {
        
			
			var ul = this.parentElement.parentElement.getElementsByClassName("active");
			for (var i = 0; i < ul.length; i++) {
				ul[i].classList.remove("active");
			}
			
			this.classList.add("active");
			
			
    })
	

	$("#getProfsBtn").on("click", function () {
		$.get("/Role/_GetProfessors", function (data) {
			$("#partialDiv1").html(data);
		})
	})
	

	$("#AddSubToProfBtn").on("click", function () {
		$.get("/Role/_AddSubjectToProf", function (data) {
			$("#partialDiv2").html(data);
		})
	})

	$("#addSubjectBtn").on("click", function () {
		$.get("/Role/_AddSubject", function (data) {
			$("#partialDiv2").html(data);
		})
	})

	$("#AddUserInRoleBtn").on("click", function () {
		$.get("/Role/_AddUserInRole", function (data) {
			$("#partialDiv2").html(data);
		})
	})

	$("#CreateRoleBtn").on("click", function () {
		$.get("/Role/_CreateRole", function (data) {
			$("#partialDiv2").html(data);
		})
	})

	

	$("#getRolesBtn").on("click", function () {
		console.log($("#partialDiv1").classList);
        $.get("/Role/_GetRoles", function (data) {
            $("#partialDiv1").html(data);
        })
    })

	$("#getSubjectsBtn").on("click", function () {
		console.log($("#partialDiv1").classList);
        $.get("/Role/_GetSubjects", function (data) {
            $("#partialDiv1").html(data);
        })
    })

</script>






